

	#qscpic{
		padding-top: 7px;/*upper left picture*/
		margin-left: 30px; 
		height: 10px;
	}

	div#nav>div.nav {
		display: inline-block; /*avigation buttons*/
		margin-right: 115px;
		margin-bottom: 5px;
		font-size: 20px;
	}

	div#nav>div.nav>div#border {
		margin-top: 15px;/*the blue lines under the buttons*/
		padding:1.5px;
		transition: 1s;
		transition-timing-function: linear;
	}

	div#nav>div.nav:hover #border{
		background-color: #009BF7;/*the animation*/
	}
	
	#joinus {
		padding: 10px;
		background-color:#009BF7;/*the joinus button*/
		color: white;
		border-radius: 14px;
	
	}

	a:link,a:visited{
		color: black; /*remove the style*/
		text-decoration: none;
	}

/*above is for navation bar*/

	#turntide{
		
		height: 550px;
		margin-left: 240px;
		padding-top: 0px;

	}

	#tide {
		background-size: 100%;
		margin: 0px;

	}

	#aboutus, #department {
		margin-left: 550px;
		height: 300px;

	}

	#globalin >div >p{
		text-indent: 2em;
		display: block;
		font-size: 110%;
		margin-left: 45px; 
		margin-top: 0px;
		margin-bottom: 0px;
	}


	.intro1{
		padding-top:110px; 

	}



	#introp{
		display: inline-block;
		float: right;
		height: 500px;	
		margin-right: 45px;/*he introduction picture*/
		margin-left: 55px;
	}

	/*specific department*/
	.dep,.logo{
			display: inline-block;
			height: 310px;/*调两张图片的大小和排列*/
		}

	.dark{
		background-color: #F8F8F8;
		margin-bottom: -0px;
	}

	.dark .logo{
		position: relative;
		left: 42%;/*调logo的位置和透明度*/
		opacity: 0.1;
	}

	.dark .dep{

	}
	
	.dark .intro3{
		display: inline-block;
		position: relative;
		bottom:140px;
		vertical-align: middle;
		left: 200px;
		text-align: right;
	}

	

	.dark .intro3 .detail>p{
		margin: 0px;
		padding: 0px;
		color: #898989;
	}

	.title {
		font-size: 36px;
		font-weight: 600;/*调title*/
	}

	.dark .intro3 a{
		color: #009BF7;
	}

	/*the following is light*/

	.light {
		background-color: white;
		margin-bottom: 0px;
	}

	.light .dep{
		position: relative;
		left: 42%;
		margin: 0px;
	}

	.light .logo{
		position: relative;
		left: 0px;
		opacity: 0.1;
	}

	.light .intro4{
		display: inline-block;
		position: relative;
		bottom:140px;
		vertical-align: middle;
		right: 650px;
		
	}

	.light .intro4 .detail>p{
		margin: 0px;
		padding: 0px;
		color: #898989;
		
	}

	.light .intro4 a{
		color: #009BF7;
	}

	#name {
		margin-left:20px;
		position: relative;
		font-size: 16px;
		font-weight: 200;
		color: white;
		bottom: 130px;
		left: 20px;
	}

	#button {
		left: 93%;
		position: fixed;
		margin-right: 80px;
		bottom: 5px;
	}

	button {
		background-color:#009BF7;
	
		bottom: 5px;
		right: 5px;
		width: 80px;
		height: 40px; 
		font-size: 15px;
		font-weight: 600;
		border-radius: 14px;
		border-color: #009BF7;

	}

	#top {
		color: white;
	}



